.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.picture {
    width: 90px;
    height: 90px;
    background-color: black;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture > span {
    color: white;
    font-size: 30px;
    
}

.username {
    margin: auto;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    font-size: 12px;
}

.bio {
    margin: auto;
    color: white;
    font-size: 10px;
}