.draggable-list {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.draggables {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    width: 85%;
    max-width: 600px;
    margin-bottom: 20px;
    height: 100px;

}

.drag-icon:hover {
    cursor: pointer;
}

.drag-icon {
    /* filter: (0.75); */
    opacity: 0.6;
}